@font-face {
  font-family: "iconfont"; /* Project id 3550798 */
  src: url('iconfont.woff2?t=1668153973887') format('woff2'),
       url('iconfont.woff?t=1668153973887') format('woff'),
       url('iconfont.ttf?t=1668153973887') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.baidujiexi:before {
  content: "\e642";
}

.NASshebei:before {
  content: "\e67e";
}

.kuaijiejian:before {
  content: "\e60c";
}

.zuotang:before {
  content: "\e643";
}

.zhangzi:before {
  content: "\e641";
}

.color:before {
  content: "\e63b";
}

.iconfont:before {
  content: "\e63c";
}

.qiuziti:before {
  content: "\e63d";
}

.paletton:before {
  content: "\e63e";
}

.shetu:before {
  content: "\e63f";
}

.ziyou:before {
  content: "\e640";
}

.gutianlu9hao:before {
  content: "\e62d";
}

.mizhiwang:before {
  content: "\e635";
}

.tuyawangguo:before {
  content: "\e633";
}

.qiankuwang:before {
  content: "\e618";
}

.nituwang:before {
  content: "\e62f";
}

.shetuwang:before {
  content: "\e671";
}

.uizhongguo:before {
  content: "\e607";
}

.500px:before {
  content: "\e608";
}

.duitang:before {
  content: "\e609";
}

.unsplash:before {
  content: "\ef37";
}

.wotuwang:before {
  content: "\e60b";
}

.lanhu:before {
  content: "\e61c";
}

.miyuansu:before {
  content: "\e60a";
}

.hailuo:before {
  content: "\e613";
}

.shijueme:before {
  content: "\e629";
}

.zhanku:before {
  content: "\e606";
}

.dribbble:before {
  content: "\e638";
}

.huaban:before {
  content: "\e63a";
}

.behance:before {
  content: "\e60f";
}

.pixabay:before {
  content: "\e612";
}

.pinterest:before {
  content: "\ea0d";
}

.qiantuwang:before {
  content: "\e605";
}

.baotuwang:before {
  content: "\e61f";
}

.baozhuangdaoban:before {
  content: "\e602";
}

.zhongguose:before {
  content: "\e603";
}

.gongju:before {
  content: "\e74a";
}

.sheji:before {
  content: "\e604";
}

.sousuo:before {
  content: "\e632";
}

.wangzhan:before {
  content: "\e600";
}

.kongbai2:before {
  content: "\e601";
}

.kongbai:before {
  content: "\ec59";
}

.kongbai1:before {
  content: "\e6c4";
}

.kongbai3:before {
  content: "\e75f";
}

.suibiankeji:before {
  content: "\e611";
}

.qijixiu:before {
  content: "\e614";
}

.freepik:before {
  content: "\e627";
}

.qiankunziyuan:before {
  content: "\e628";
}

